%h2 マイページ

%section.mt-4
  %h3 最新の記事
  .row.mt-4
    - current_user.notes.posted.limit(4).each do |note|
      = render 'shared/note', note: note
  %ul.nav.mb-2.justify-content-end
    %li.nav-item
      = link_to '記事作成', new_mypage_note_path, class: 'nav-link'
    %li.nav-item
      = link_to '記事一覧', mypage_notes_path, class: 'nav-link'

%h3 アイコン
- if current_user.image.attached?
  = image_tag current_user.image.variant(resize:'200x200').processed
- else
  アイコン未設定

= link_to 'アイコンを設定する', edit_mypage_avatars_path
