%h2= @note.title

.row.mt-4
  .col.mb-4.text-right
    %b 作者 :
    = link_to @note.user.name, user_path(@note.user)

.shadow-none.p-3.mb-5.bg-light.rounded
  = @note.content

%h3 コメント
%ul.nav.mb-2
  %li.nav-item
    = link_to 'コメントを書く', new_note_comment_path(@note), class: 'nav-link'

%ul.list-unstyled
  - @note.comments.posted.each do |comment|
    = render 'shared/comment', comment: comment
