%h2= @note.title

%dl
  %dt 作者
  %dd= link_to @note.user.name, user_path(@note.user)

= @note.content

%h3 コメント

= link_to 'コメントを書く', new_note_comment_path(@note)

%ul
  - @note.comments.posted.each do |comment|
    %ul
      %dl
        %dt 作者
        %dd= link_to comment.user.name, user_path(comment.user)
        %dt コメント
        %dd= simple_format comment.content
        - if comment.owner?(current_user)
          %dt アクション
          %dd
            %ul
              %li= link_to '編集', edit_note_comment_path(@note, comment)
              %li= link_to '削除', note_comment_path(@note, comment), method: :delete, data: { confirm: '削除しますか?' }
