= form_with model: [:mypage, @note] do |f|
  .form-group
    = f.label :title
    = f.text_field :title, required: true, class: 'form-control'
  .form-group
    = f.label :content
    = f.rich_text_area :content, required: true

  = f.submit class: 'btn btn-primary'
