= form_with model: [:mypage, @note] do |f|
  .field
    = f.label :title
    = f.text_field :title, required: true
  .field
    = f.label :content
    = f.rich_text_area :content, required: true

  = f.submit
