.col-md-6
  .card.flex-md-row.mb-4.shadow-sm.h-md-250
    .card-body.d-flex.flex-column.align-items-start
      %strong.d-inline-block.mb-2.text-primary
        - if note.user.image.attached?
          = image_tag note.user.image.variant(resize:'30x30').processed, class: 'rounded-circle mr-2'
        = link_to note.user.name, user_path(note.user)
      %h3.mb-0
        = link_to note.title, note_path(note), class: 'text-dark'
      .mb-1.text-muted= l note.created_at
      %p.card-text.ml-auto= extract(note).truncate(20)
      = link_to '続きを読む', note_path(note)
    - if note.content.embeds.present?
      = image_tag note.content.embeds.first.variant(resize:'200x250').processed, class: 'card-img-right flex-auto d-none d-lg-block'
    - else
      %img.card-img-right.flex-auto.d-none.d-lg-block{:alt => "Thumbnail [200x250]", "data-holder-rendered" => "true", "data-src" => "holder.js/200x250?theme=thumb", :src => "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_177426dcb94%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_177426dcb94%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E", :style => "width: 200px; height: 250px;"}/

  - if local_assigns[:action] && note.owner?(current_user)
    %ul.nav.mb-2.justify-content-end
      %li.nav-item
        = link_to '編集', edit_mypage_note_path(note), class: 'nav-link'
      %li.nav-item
        = link_to '削除', mypage_note_path(note), method: :delete, data: { confirm: '削除しますか ?' }, class: 'nav-link'
